@use "variables" as *;

#experience {
  // width: 100%;
  // border-radius: 20px;
  background: url("../assets/experience-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 30px 0px;
  justify-items: center;
}

.experience-card {
  width: 100%;
  max-width: 700px;
  text-align: center;
  padding: 24px 28px;
  border-radius: 5px;
  transition: all 0.2s ease-in;
  border: 1px solid $color-wakanda-purple;

  // Glass Effect
  background: linear-gradient(#9b8f8f18 0%, #180a1a 100%);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);

  h2 {
    margin-top: 35px;
    color: $red;
  }

  h3 {
    color: $color-wakanda-purple;
  }

  ul {
    background-color: transparent;
    // padding: 0px;

    li {
      background-color: transparent;
      margin: 15px 0;
      color: $color-silver;
      text-align: left;
      //   font-size: 18px;
      line-height: 1.5;
      letter-spacing: 1.5px;
      text-wrap: wrap;
    }
  }
}

@media (max-width: $tablet) {
  #experience {
    width: auto;
    padding: 5px;
  }
  .experience-card {
    width: auto;
    max-width: auto;
  }
}

@media (max-width: $mobile) {
  .experience-card {
    margin: 10px 15px;
    padding: 0 10px;

    ul {
      padding-left: 15px;
    }
  }
}
