@use "variables" as *;

* {
  margin: 0;
  box-sizing: 0;
  background-color: $color-black-panther;
  color: $color-gold;
  font-family: $font-primary;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

// html,
body {
  overflow-x: hidden;
}

div[id] {
  scroll-margin-top: 120px;
}

.main-page-container {
  // margin: 50px 20px 20px;
  padding: 0 30px 30px;
  display: grid;
  // grid-template-columns: auto;
  place-items: center;
  justify-self: center;
  overflow-x: hidden;
}

ul,
li,
p,
nav,
a {
  background: transparent;
}

#intro,
#skills,
#projects,
#experience,
#contact {
  margin: 35px 0;
}

li,
a,
p {
  font-size: 1rem;
}

p {
  color: $color-silver;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  justify-self: center;
  margin: 15px 0;
  background: transparent;
}

h1 {
  font-size: $font-heading;
  text-transform: uppercase;
}

h2 {
  font-size: $font-heading;
}

h3 {
  font-size: $font-heading;
}

h4 {
  font-size: $font-heading;
}

h5 {
  font-size: $font-heading;
}

h6 {
  font-size: $font-heading;
}

@media (max-width: $mobile) {
  .main-page-container {
    // margin: 20px 0px;
    padding: 30px 0px;
  }
}
