@use "variables" as *;

.intro-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  .profile-img {
    // width: 50%;
    margin: 30 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .roles-heading-content {
      position: relative;
      // margin-top: 45px;
      z-index: 1;
      background: transparent;

      #mern-stack-heading {
        margin-top: -75px;
        position: absolute;
        text-align: center;
        width: 200px;
        color: $red;
      }

      #frontend-heading {
        width: 200px;
        position: absolute;
        margin-top: 50px;
        margin-left: -320px;
        text-align: right;
        color: $red;
      }

      #backend-heading {
        position: absolute;
        margin-top: 150px;
        margin-left: 270px;
        text-align: left;
        color: $red;
      }
    }

    img {
      position: relative;
      // width: 150px;
      height: 250px;
      border-radius: 50%;
    }
  }

  .introduction {
    margin: 80px 20px 0;
    width: 50%;
    justify-self: center;
  }

  p {
    font-size: 22px;
  }
}

// Media-Query code

@media (max-width: $laptop) {
  .intro-wrapper {
    .profile-img {
      margin: 0 20px;
    }

    .introduction {
      margin: 0 20px;
      width: 70%;
    }
  }
}

@media (max-width: $tablet) {
  .intro-wrapper {
    flex-direction: column;
    align-items: center;

    .profile-img {
      margin: 0;
    }

    .introduction {
      margin: 0;
      width: 100%;
    }

    p {
      font-size: 18px;
    }
  }
}

@media (max-width: $mobile) {
  .intro-wrapper {
    margin: 10px;
    padding: 0 10px;

    .profile-img {
      .roles-heading-content {
        #mern-stack-heading {
          margin-top: -60px;
          width: 200px;
          text-align: center;
        }

        #frontend-heading {
          margin-top: 50px;
          margin-left: -320px;
          width: 0;
          text-align: right;
        }

        #backend-heading {
          width: 0;
          margin-top: 180px;
          margin-left: 120px;
        }
      }
    }

    .introduction {
      margin: 140px 0 0;
    }
  }
}
