@use "variables" as *;

header {
  position: static;
  top: 20px;
  // left: 0;
  // right: 0;
  z-index: 999999999;
  background: transparent;

  nav {
    margin: 20px 20px;
    padding: 5px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    border: 1px solid $color-wakanda-purple;

    .bg-blur {
      // background: transparent;
      border-radius: 50px;
      // margin: 20px 20px;
      // padding: 5px 30px;
      position: absolute;
      inset: 0;
      background: url("../assets/experience-bg.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      filter: blur(5px);
      z-index: -999;
    }

    ul {
      padding: 0px;
    }

    .left-side {
      img {
        width: 50px;
        box-shadow: -1px -1px 5px $color-gold, 1px 1px 5px $color-gold;
        border-radius: 50%;
        cursor: pointer;
      }
    }

    .right-side {
      display: flex;
      justify-content: center;
      align-items: center;

      li {
        cursor: pointer;
        margin: 0 15px;
        list-style: none;
        text-decoration: none;
        padding: 10px 15px;
        border-radius: 20px;
        transition: 0.2s ease-out;

        &:hover {
          box-shadow: inset 0px -1px 4px $color-gold;
          transition: 0.2s ease-in;
        }
      }
    }

    .ham-burger-menu {
      display: none;

      .icon-btn {
        border-radius: 50%;
        text-align: center;
        outline: none;
        border: none;
        transition: transform 0.2s ease, box-shadow 0.2s ease;

        :active {
          transform: scale(1);
          box-shadow: inset -1px -1px 2px $color-gold,
            inset 1px 1px 2px $color-gold;
          transition: transform 0.6s ease, box-shadow 0.6s ease;
        }

        i {
          padding: 7px;
          border-radius: 50%;
          // font-size: large;
        }
      }
    }
  }
}

@media (max-width: $tablet) {
  header {
    nav {
      .right-side {
        display: none;
      }

      .ham-burger-menu {
        display: block;

        i {
          font-size: 35px;
        }
      }
    }
  }
}
