@use "variables" as *;

.project-wrapper {
  .project-card {
    width: 500px;
    // height: 200px;
    margin: 50px 0;
    // display: flex;
    overflow: hidden;
    padding: 10px 10px 25px;
    border-radius: 10px;
    transition: 0.2s ease-in;
    box-shadow: 0 0 0 1.548px #ff404024, 0 1.548px 3.096px #35233d,
      0 4.27228px 85.4456px 21.3614px #8410ff1a, inset 0 4px 11.6px #ff41172e;

    border: 2px solid #3f2a4b; /* violet default border */
    border-radius: 16px;

    h1 {
      color: $color-wakanda-purple;
      text-transform: capitalize;
    }

    p {
      margin-left: 10px;
      color: $color-silver;
      text-align: left;
    }

    a {
      text-decoration: none;
      margin-top: 15px;

      &:hover {
        color: $color-silver;
      }
    }

    .left {
      // width: 50%;
      justify-self: start;
      text-align: center;
    }
  }
}

@media (max-width: $laptop) {
  .project-wrapper {
    .project-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;

      .left {
        width: 100%;
        justify-self: start;
      }

      .right {
        width: 100%;
      }
    }
  }
}

@media (max-width: $mobile) {
  .project-wrapper {
    margin: 10px;
    padding: 0 10px;

    .project-card {
      width: auto;
      margin: 15px 00px;
    }
  }
}
