@use "variables" as *;

.skills-wrapper {
  // width: 100vw;
  display: flex;
  justify-content: space-evenly;

  .skill-card {
    transform: translateX(0px);
    margin: 10px 15px;
    border: 1px solid $color-wakanda-purple;
    border-radius: 10px;

    padding: 15px;
    box-shadow: 0 0 0 1.548px #ff404024, 0 1.548px 3.096px #00000029,
      0 4.27228px 85.4456px 21.3614px #8410ff1a, inset 0 4px 11.6px #ff41172e;
    width: 50%;
    height: 380px;

    &:hover {
      box-shadow: 0 0 0 1.548px #cb4f4f29, 0 1.548px 3.096px #b744fa24,
        0 4.27228px 85.4456px 21.3614px #ee72572e, inset 0 4px 11.6px #b744fa24;
    }

    h3 {
      color: $color-silver;
    }

    ul li {
      color: $red;
    }
  }

  .frontend-skills {
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
      padding: 0;
      li {
        list-style: none;
        display: flex;
        justify-content: center;
        margin: 35px 10px;
        padding: 15px;
        border: 1px dashed $color-silver;
        border-radius: 10px;
      }
    }
  }

  .backend-skills {
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
      padding: 0;
      li {
        list-style: none;
        display: flex;
        justify-content: center;
        margin: 35px 10px;
        padding: 15px;
        border: 1px dashed $color-silver;
        border-radius: 10px;
      }
    }
  }
}

@media (max-width: $tablet) {
  .skills-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .skill-card {
      width: 100%;
    }
  }
}

@media (max-width: $mobile) {
  .skills-wrapper {
    // margin: 0px !important;

    .skill-card {
      margin: 15px 18px;
      padding: 5px;
      height: auto;

      ul {
        padding: 0;
        li {
          margin: 35px 10px;
          padding: 15px;
        }
      }
    }
  }
}
