// Color Variables
$color-black-panther: #010203;
$color-dark-gray: #424242;
$color-wakanda-purple: #3f2a4b;
$color-vibranium-blue: #007f9e;
$color-gold: #daa520;
$color-silver: #c0c0c0;
$red: #ff2f00a9;

// Font variables
// $font-primary: "Montserrat", sans-serif;
$font-primary: "Lato", sans-serif;
$font-heading: "Roboto Mono", monospace;

// UI Breakpoints
$mobile: 576px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;
$large-desktop: 1400px;
