// Custom SCSS file
@use "variables";
@use "navbar";
@use "globals";
@use "introduction";
@use "skills";
@use "project";
@use "experience";
@use "contact";
@use "mobile_navbar";

// Font-style
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
